
<div class="div-post col-md-12">
    <div>
        <textarea class="textarea-post" id="textArea"></textarea>
    </div>
    <hr>
    <div>
        <button class="btn btn-default right" type="button" id="btnCreatePost">
            POST
        </button>
    </div>
</div>