

<div class="div-post col-md-12">
    <div>
        <textarea class="textarea-post">

        </textarea>
    </div>
    <hr>
    <div>
        <button class="btn btn-default right" type="button">
            POST
        </button>
    </div>
</div>