
<div id="div-form-shadow" class="container">
    <h4>Write Status <span class="glyphicon glyphicon-pencil"></span></h4>
    <hr />
    <div class="form-group">
        <textarea class="textarea-post" id="textArea" placeholder="What's on your mind?"></textarea>
    </div>
    <hr>
    <div class="form-group">
        <div class="pull-right">
            <button class="btn btn-default" type="button" id="btnCreatePost">POST</button>
        </div>
    </div>
</div>